:root {
    --text-primary: #fff;
    --text-secondary: #676767;
    --text-accent: #0285ff;
    --text-danger: #fa423e;

    --bg-primary: #171717;
    --bg-secondary: #212121;
    --bg-tertiary: #323232d9;
}

* {
    box-sizing: border-box;
}

html {
    margin-top: 4rem;
    font-size: 10px;
}

html,
body {
    background-color: var(--bg-secondary);
    color: var(--text-primary);
}

body {
    padding: 0 1.5rem;
    margin: 0;
    font-family: Arial, sans-serif;
    font-size: 1.6rem;
}

.container {
    width: 100%;
    max-width: 60rem;
    padding: 1.6rem;
    margin: 0 auto;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
    background-color: var(--bg-primary);
    border-radius: 1.6rem;
}

.title {
    text-align: center;
}

.chat {
    height: 40rem;
    padding: 1rem;
    margin-bottom: 1rem;
    overflow-y: auto;
}

.message {
    margin-bottom: 1rem;
}

.block {
    padding: 1.2rem 1.6rem;
    background-color: var(--bg-tertiary);
    border-radius: 1.8rem;
}

.user {
    color: var(--text-secondary);
    font-weight: bold;
}

.bot {
    color: var(--text-accent);
}

.error {
    color: var(--text-danger);
    font-weight: bold;
}

.input-box {
    display: flex;
    align-items: flex-end;
    padding: 1rem;
    background-color: var(--bg-secondary);
    border-radius: 1.6rem;
    gap: 1rem;
}

.input-box__textarea {
    flex: 1;
    height: 6rem;
    padding: 0 1rem;
    background: none;
    border: none;
    outline: none;
    color: var(--text-primary);
    resize: none;
}

.input-box__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3.6rem;
    height: 3.6rem;
    background-color: var(--text-primary);
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

.input-box__button svg {
    width: 2rem;
    height: 2rem;
}

.counter {
    margin-top: 0.5rem;
    color: var(--text-secondary);
    text-align: right;
    font-size: 1.2rem;
}
